.wrap{
    max-width: 1280px;
    background:#F0F0F0;
    //height: 1000px;
    margin: 0 auto;
    padding-top: 80px; // content margin-top 80px 
    .content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        max-width: 100%;
        //background: bisque;
        min-height: 300px;
        margin-left: 55px;
        margin-right: 85px;
        .title{
            margin-left: 30px;
            .x-top{
                width: 14px;
                display: inline-block;
                font-family: Helvetica Neue Regular;
                font-size: 24px;
                height: 28px;
                color: #2EB738;
                text-align: left; 
            }
            .line-top{
                display: inline-block;
                margin-left: 19px;
                margin-right: 19px;
                width: 278px;
                border-bottom: 1px solid #2EB738;
                //background-color: #2EB738;
                vertical-align: baseline;
            }
            .title-cn{
                text-align: center;
                height: 78px;
                font-family: PingFang TC;
                font-size: 56px;
                color: #2EB738;
                margin-top: 95.5px;
                margin-bottom: 0px;
            }
            .title-en{
                height: 28px;
                font-family: Helvetica Neue;
                font-size: 26px;
                text-align: center;
                color: #2EB738;
                padding: 0px 0px;
                margin:  0px 0px;
            } 
            .x-btm{
                width: 14px;
                margin-top: 116.5px;
                display: inline-block;
                font-family: Helvetica Neue Regular;
                font-size: 24px;
                color: #2EB738;
                text-align: left;
            }
            .line-btm{
                margin-top: 116.5px;
                display: inline-block;
                margin-left: 19px;
                margin-right: 19px;
                width: 278px;
                border-bottom: 1px solid #2EB738;
                //background-color: #2EB738;
                vertical-align: baseline;
            }
        }
        .chart{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content:center;
            align-items: center;
            width: 350px;
            height: 366px;
            background:#FFFFFF;
            border-radius: 100px 0px 30px 0px;
            margin-left: 30px;
            box-shadow: 0px 3px 10px #D8D8D8;
            margin-bottom: 40px;
            
            .number{
                display: block;
                font-family: Helvetica Neue,Blod;
                font-size: 128px;
                text-align: center;
                color: #2EB738;
                text-shadow: #F0F0F0 4px 3px 0px;
                width: 71px;
                height: 153px;
                margin-top: 34px;
                margin-left: 61px;
                margin-right: 30px;
                margin-bottom: 0;
            
            }
            p{
                display: block;
                font-family: Helvetica Neue,Regular;
                font-size: 24px;
                text-align: left;
                color:#2EB738;
                width: 105px;
                height: 33px;
                margin-top: 0;
                margin-left: 40px;
                margin-bottom: 8px;
            }
           
           
        }
    }
    .footer{
        background: #2EB738;
        max-width: 100%;
        height: 18px;
        font-family: Helvetica Neue;
        font-size: 16px;
        padding-left: 843px;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #F0F0F0;
    }
}
